  .container {
    margin: 100px auto;
  }

  .btn {
    padding: 10px;
    background-color: blue;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
   }

   form {
    display: flex;
   }

   .textbox {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
   }

   .textbox:focus-visible {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
   }

   a {
    text-decoration: none;
   }

   .smallbox {
    padding-left: 20px;
    padding-top: 15px;
   }

  .smallboxanswer {
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 15px;
    background-color: lightyellow;
  }

  .box {
    background-color: pink;
    width:8px;
  }

  .boxcontainer {
    display:flex;
    margin-bottom: 20px;
  }
